

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddView</title>
</head>
<body>
    <h2>@ViewBag.Browsing.Title</h2>
    <p>@ViewBag.Browsing.Content</p>
    <p>@ViewBag.Browsing.Author</p>
    <p><a href="/Home/Delete/@ViewBag.Browsing.Id" class="btn btn-primary">Удалить</a></p>
</body>
</html>
