@model IEnumerable<NewsSite.Models.News>
@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>

        @foreach (NewsSite.Models.News b in Model)
        {
        <div class="row">
            <h3>@b.Title</h3>
            <p>@b.Author</p>
            <p><a href="/Home/Browse/@b.Id" class="btn btn-primary">Подробнее</a></p>
        </div>
         }
        
    </div>
</body>
</html>